<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.bcs.ventas.model.entities"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mappers/AlmacenMapper.xml"/>
        <mapper resource="mybatis/mappers/BancoMapper.xml"/>
        <mapper resource="mybatis/mappers/CabeceraComprobanteMapper.xml"/>
        <mapper resource="mybatis/mappers/CajaAccionMapper.xml"/>
        <mapper resource="mybatis/mappers/CajaMapper.xml"/>
        <mapper resource="mybatis/mappers/ClienteMapper.xml"/>
        <mapper resource="mybatis/mappers/CobroVentaMapper.xml"/>
        <mapper resource="mybatis/mappers/ComprobanteMapper.xml"/>
        <mapper resource="mybatis/mappers/ConfigMapper.xml"/>
        <mapper resource="mybatis/mappers/CotizacionMapper.xml"/>
        <mapper resource="mybatis/mappers/CuentaProveedorMapper.xml"/>
        <mapper resource="mybatis/mappers/DatosUserMapper.xml"/>
        <mapper resource="mybatis/mappers/DepartamentoMapper.xml"/>
        <mapper resource="mybatis/mappers/DepositoMapper.xml"/>
        <mapper resource="mybatis/mappers/DetalleCotizacionMapper.xml"/>
        <mapper resource="mybatis/mappers/DetalleEntradaStockMapper.xml"/>
        <mapper resource="mybatis/mappers/DetalleGuiaRemisionMapper.xml"/>
        <mapper resource="mybatis/mappers/DetalleMapper.xml"/>
        <mapper resource="mybatis/mappers/DetalleOrdenCompraMapper.xml"/>
        <mapper resource="mybatis/mappers/DetalleOrdenPedidoMapper.xml"/>
        <mapper resource="mybatis/mappers/DetalleUnidadProductoMapper.xml"/>
        <mapper resource="mybatis/mappers/DetalleVentaMapper.xml"/>
        <mapper resource="mybatis/mappers/DistritoMapper.xml"/>
        <mapper resource="mybatis/mappers/EmpresaMapper.xml"/>
        <mapper resource="mybatis/mappers/EntradaStockMapper.xml"/>
        <mapper resource="mybatis/mappers/FacturaProveedorMapper.xml"/>
        <mapper resource="mybatis/mappers/GuiaRemisionMapper.xml"/>
        <mapper resource="mybatis/mappers/IngresoSalidaCajaMapper.xml"/>
        <mapper resource="mybatis/mappers/InitComprobanteMapper.xml"/>
        <mapper resource="mybatis/mappers/LeyendaMapper.xml"/>
        <mapper resource="mybatis/mappers/LoteMapper.xml"/>
        <mapper resource="mybatis/mappers/MarcaMapper.xml"/>
        <mapper resource="mybatis/mappers/MisCuentasMapper.xml"/>
        <mapper resource="mybatis/mappers/MotivoHasGuiaRemisionMapper.xml"/>
        <mapper resource="mybatis/mappers/MotivoMapper.xml"/>
        <mapper resource="mybatis/mappers/NotasCreditoMapper.xml"/>
        <mapper resource="mybatis/mappers/OrdenCompraMapper.xml"/>
        <mapper resource="mybatis/mappers/OrdenPedidoMapper.xml"/>
        <mapper resource="mybatis/mappers/PagoProveedorMapper.xml"/>
        <mapper resource="mybatis/mappers/PaisMapper.xml"/>
        <mapper resource="mybatis/mappers/PermisoMapper.xml"/>
        <mapper resource="mybatis/mappers/PermisosUsuarioMapper.xml"/>
        <mapper resource="mybatis/mappers/PresentacionMapper.xml"/>
        <mapper resource="mybatis/mappers/ProductoMapper.xml"/>
        <mapper resource="mybatis/mappers/ProveedorMapper.xml"/>
        <mapper resource="mybatis/mappers/ProvinciaMapper.xml"/>
        <mapper resource="mybatis/mappers/ResumenBoletaMapper.xml"/>
        <mapper resource="mybatis/mappers/ResumenDetalleMapper.xml"/>
        <mapper resource="mybatis/mappers/RetiroEntradaProductoMapper.xml"/>
        <mapper resource="mybatis/mappers/SedeMapper.xml"/>
        <mapper resource="mybatis/mappers/StockMapper.xml"/>
        <mapper resource="mybatis/mappers/TipoComprobanteMapper.xml"/>
        <mapper resource="mybatis/mappers/TipoDocumentoMapper.xml"/>
        <mapper resource="mybatis/mappers/TipoProductoMapper.xml"/>
        <mapper resource="mybatis/mappers/TipoTarjetaMapper.xml"/>
        <mapper resource="mybatis/mappers/TipoUserMapper.xml"/>
        <mapper resource="mybatis/mappers/UnidadMapper.xml"/>
        <mapper resource="mybatis/mappers/UserMapper.xml"/>
        <mapper resource="mybatis/mappers/VentaMapper.xml"/>
        <mapper resource="mybatis/mappers/ServicioMapper.xml"/>
    </mappers>
</configuration>