<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcs.ventas.dao.mappers.ClienteMapper">

    <resultMap id="principalResultMap" type="com.bcs.ventas.model.entities.Cliente">
        <result property="id" column="id" />
        <result property="nombre" column="nombre" />
        <!-- <result property="tipoDocumentoId" column="tipo_documento_id" /> -->

        <result property="tipoDocumento.id" column="td_id" />
        <result property="tipoDocumento.tipo" column="td_tipo" />
        <result property="tipoDocumento.key" column="td_key" />
        <result property="tipoDocumento.descripcion" column="td_descripcion" />
        <result property="tipoDocumento.activo" column="td_activo" />
        <result property="tipoDocumento.borrado" column="td_borrado" />


        <result property="documento" column="documento" />
        <result property="direccion" column="direccion" />
        <result property="telefono" column="telefono" />
        <result property="correo1" column="correo1" />
        <result property="correo2" column="correo2" />
        <result property="empresaId" column="empresa_id" />
        <result property="userId" column="user_id" />
        <result property="activo" column="activo" />
        <result property="borrado" column="borrado" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAd" column="updated_at" />
    </resultMap>

    <select id="getAllEntities" resultMap="principalResultMap">
        select c.id,
        c.nombre,
        c.tipo_documento_id,
        c.documento,
        c.direccion,
        c.telefono,
        c.correo1,
        c.correo2,
        c.user_id,
        c.empresa_id,
        c.activo,
        c.borrado,
        c.created_at,
        c.updated_at,
        t.id as td_id,
        t.tipo as td_tipo,
        t.key as td_key,
        t.descripcion as td_descripcion,
        t.activo as td_activo,
        t.borrado as td_borrado,
        t.created_at as td_created_at,
        t.updated_at as td_updated_at,
        t.user_id as td_user_id
        from clientes c
        inner join tipo_documentos t on c.tipo_documento_id=t.id
    </select>

    <select id="getTotalElements" resultType="java.lang.Long">
        select COUNT(*) from clientes c
        inner join tipo_documentos t on c.tipo_documento_id=t.id
        <where>
            <if test="ID != null"> AND c.id = #{ID}</if>
            <if test="NOMBRE != null"> AND c.nombre = #{NOMBRE}</if>
            <if test="TIPO_DOCUMENTO_ID != null"> AND c.tipo_documento_id = #{TIPO_DOCUMENTO_ID}</if>
            <if test="DOCUMENTO != null"> AND c.documento = #{DOCUMENTO}</if>
            <if test="DIRECCION != null"> AND c.direccion = #{DIRECCION}</if>
            <if test="TELEFONO != null"> AND c.telefono = #{TELEFONO}</if>
            <if test="CORREO1 != null"> AND c.correo1 = #{CORREO1}</if>
            <if test="CORREO2 != null"> AND c.correo2 = #{CORREO2}</if>
            <if test="EMPRESA_ID != null"> AND c.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND c.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND c.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND c.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND c.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND c.activo != #{NO_ACTIVO}</if>

            <if test="BUSCAR != null"> AND (c.documento like #{BUSCAR} or c.nombre like #{BUSCAR} )</if>
        </where>
        order by c.nombre, c.documento, c.id
    </select>

    <select id="listByParameterMap" resultMap="principalResultMap">
        select c.id,
        c.nombre,
        c.tipo_documento_id,
        c.documento,
        c.direccion,
        c.telefono,
        c.correo1,
        c.correo2,
        c.user_id,
        c.empresa_id,
        c.activo,
        c.borrado,
        c.created_at,
        c.updated_at,
        t.id as td_id,
        t.tipo as td_tipo,
        t.key as td_key,
        t.descripcion as td_descripcion,
        t.activo as td_activo,
        t.borrado as td_borrado,
        t.created_at as td_created_at,
        t.updated_at as td_updated_at,
        t.user_id as td_user_id
        from clientes c
        inner join tipo_documentos t on c.tipo_documento_id=t.id
        <where>
            <if test="ID != null"> AND c.id = #{ID}</if>
            <if test="NOMBRE != null"> AND c.nombre = #{NOMBRE}</if>
            <if test="TIPO_DOCUMENTO_ID != null"> AND c.tipo_documento_id = #{TIPO_DOCUMENTO_ID}</if>
            <if test="DOCUMENTO != null"> AND c.documento = #{DOCUMENTO}</if>
            <if test="DIRECCION != null"> AND c.direccion = #{DIRECCION}</if>
            <if test="TELEFONO != null"> AND c.telefono = #{TELEFONO}</if>
            <if test="CORREO1 != null"> AND c.correo1 = #{CORREO1}</if>
            <if test="CORREO2 != null"> AND c.correo2 = #{CORREO2}</if>
            <if test="EMPRESA_ID != null"> AND c.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND c.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND c.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND c.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND c.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND c.activo != #{NO_ACTIVO}</if>

            <if test="BUSCAR != null"> AND (c.documento like #{BUSCAR} or c.nombre like #{BUSCAR} )</if>
        </where>
        order by c.nombre, c.documento, c.id
        <if test="LIMIT != null"> LIMIT #{LIMIT}</if>
        <if test="OFFSET != null"> OFFSET #{OFFSET}</if>
    </select>

    <update id="updateByPrimaryKeySelective">
        update clientes
        <set>
            <if test="NOMBRE != null">  nombre = #{NOMBRE}, </if>
            <if test="TIPO_DOCUMENTO_ID != null">  tipo_documento_id = #{TIPO_DOCUMENTO_ID}, </if>
            <if test="DOCUMENTO != null">  documento = #{DOCUMENTO}, </if>
            <if test="DIRECCION != null">  direccion = #{DIRECCION}, </if>
            <if test="TELEFONO != null">  telefono = #{TELEFONO}, </if>
            <if test="CORREO1 != null">  correo1 = #{CORREO1}, </if>
            <if test="CORREO2 != null">  correo2 = #{CORREO2}, </if>
            <if test="EMPRESA_ID != null"> empresa_id = #{EMPRESA_ID}, </if>
            <if test="USER_ID != null"> user_id = #{USER_ID}, </if>
            <if test="ACTIVO != null"> activo = #{ACTIVO}, </if>
            <if test="BORRADO != null"> borrado = #{BORRADO}, </if>

            <if test="UPDATED_AT != null"> updated_at = #{UPDATED_AT}, </if>
        </set>
        where id=#{ID}
    </update>

</mapper>