<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcs.ventas.dao.mappers.DatosUserMapper">

    <resultMap id="principalResultMap" type="com.bcs.ventas.model.entities.DatosUser">
        <result property="id" column="id" />
        <result property="nombres" column="nombres" />
        <result property="apellidoMaterno" column="apellido_paterno" />
        <result property="apellidoMaterno" column="apellido_materno" />
        <result property="direccion" column="direccion" />
        <result property="telefono" column="telefono" />

        <!-- <result property="tipoDocumentoId" column="tipo_documento_id" /> -->

        <result property="tipoDocumento.id" column="td_id" />
        <result property="tipoDocumento.tipo" column="td_tipo" />
        <result property="tipoDocumento.key" column="td_key" />
        <result property="tipoDocumento.descripcion" column="td_descripcion" />
        <result property="tipoDocumento.activo" column="td_activo" />
        <result property="tipoDocumento.borrado" column="td_borrado" />

        <result property="documento" column="documento" />
        <result property="email" column="email" />
        <result property="userId" column="user_id" />
        <result property="userGestionaId" column="user_gestiona_id" />
        <result property="empresaId" column="empresa_id" />
        <result property="activo" column="activo" />
        <result property="borrado" column="borrado" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAd" column="updated_at" />
    </resultMap>

    <select id="getAllEntities" resultMap="principalResultMap">
        select

        du.id,
        du.nombres,
        du.apellido_paterno,
        du.apellido_materno,
        du.direccion,
        du.telefono,
        du.tipo_documento_id,
        du.documento,
        du.email,
        du.user_id,
        du.user_gestiona_id,
        du.empresa_id,
        du.activo,
        du.borrado,

        t.id as td_id,
        t.tipo as td_tipo,
        t.key as td_key,
        t.descripcion as td_descripcion,
        t.activo as td_activo,
        t.borrado as td_borrado,
        t.created_at as td_created_at,
        t.updated_at as td_updated_at,
        t.user_id as td_user_id

        from datos_users du
        inner join tipo_documentos t on du.tipo_documento_id=t.id
    </select>

    <select id="getTotalElements" resultType="java.lang.Long">
        select COUNT(*) from datos_users du
        inner join tipo_documentos t on du.tipo_documento_id=t.id
        <where>
            <if test="ID != null"> AND du.id = #{ID}</if>
            <if test="NOMBRES != null"> AND du.nombres = #{NOMBRES}</if>
            <if test="APELLIDO_PATERNO != null"> AND du.apellido_paterno = #{APELLIDO_PATERNO}</if>
            <if test="APELLIDO_MATERNO != null"> AND du.apellido_materno = #{APELLIDO_MATERNO}</if>
            <if test="DIRECCION != null"> AND du.direccion = #{DIRECCION}</if>
            <if test="TELEFONO != null"> AND du.telefono = #{TELEFONO}</if>
            <if test="TIPO_DOCUMENTO_ID != null"> AND du.tipo_documento_id = #{TIPO_DOCUMENTO_ID}</if>
            <if test="DOCUMENTO != null"> AND du.documento = #{DOCUMENTO}</if>
            <if test="EMAIL != null"> AND du.email = #{EMAIL}</if>
            <if test="USER_GESTIONA_ID != null"> AND du.user_gestiona_id = #{USER_GESTIONA_ID}</if>
            <if test="USER_ID != null"> AND du.user_id = #{USER_ID}</if>
            <if test="EMPRESA_ID != null"> AND du.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND du.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND du.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND du.borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND du.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND du.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND du.activo != #{NO_ACTIVO}</if>

            <if test="BUSCAR != null"> AND (du.documento like #{BUSCAR} or du.nombres like #{BUSCAR} )</if>
        </where>
        order by du.empresa_id, du.user_id, du.id
    </select>

    <select id="listByParameterMap" resultMap="principalResultMap">
            select

            du.id,
            du.nombres,
            du.apellido_paterno,
            du.apellido_materno,
            du.direccion,
            du.telefono,
            du.tipo_documento_id,
            du.documento,
            du.email,
            du.user_id,
            du.user_gestiona_id,
            du.empresa_id,
            du.activo,
            du.borrado,

            t.id as td_id,
            t.tipo as td_tipo,
            t.key as td_key,
            t.descripcion as td_descripcion,
            t.activo as td_activo,
            t.borrado as td_borrado,
            t.created_at as td_created_at,
            t.updated_at as td_updated_at,
            t.user_id as td_user_id

            from datos_users du
            inner join tipo_documentos t on du.tipo_documento_id=t.id
        <where>
            <if test="ID != null"> AND du.id = #{ID}</if>
            <if test="NOMBRES != null"> AND du.nombres = #{NOMBRES}</if>
            <if test="APELLIDO_PATERNO != null"> AND du.apellido_paterno = #{APELLIDO_PATERNO}</if>
            <if test="APELLIDO_MATERNO != null"> AND du.apellido_materno = #{APELLIDO_MATERNO}</if>
            <if test="DIRECCION != null"> AND du.direccion = #{DIRECCION}</if>
            <if test="TELEFONO != null"> AND du.telefono = #{TELEFONO}</if>
            <if test="TIPO_DOCUMENTO_ID != null"> AND du.tipo_documento_id = #{TIPO_DOCUMENTO_ID}</if>
            <if test="DOCUMENTO != null"> AND du.documento = #{DOCUMENTO}</if>
            <if test="EMAIL != null"> AND du.email = #{EMAIL}</if>
            <if test="USER_GESTIONA_ID != null"> AND du.user_gestiona_id = #{USER_GESTIONA_ID}</if>
            <if test="USER_ID != null"> AND du.user_id = #{USER_ID}</if>
            <if test="EMPRESA_ID != null"> AND du.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND du.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND du.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND du.borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND du.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND du.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND du.activo != #{NO_ACTIVO}</if>

            <if test="BUSCAR != null"> AND (du.documento like #{BUSCAR} or du.nombres like #{BUSCAR} )</if>
        </where>
        order by du.empresa_id, du.user_id, du.id
        <if test="LIMIT != null"> LIMIT #{LIMIT}</if>
        <if test="OFFSET != null"> OFFSET #{OFFSET}</if>
    </select>

    <update id="updateByPrimaryKeySelective">
        update datos_users
        <set>
            <if test="NOMBRES != null">  nombres = #{NOMBRES}, </if>
            <if test="APELLIDO_PATERNO != null">  apellido_paterno = #{APELLIDO_PATERNO}, </if>
            <if test="APELLIDO_MATERNO != null">  apellido_materno = #{APELLIDO_MATERNO}, </if>
            <if test="DIRECCION != null">  direccion = #{DIRECCION}, </if>
            <if test="TELEFONO != null">  telefono = #{TELEFONO}, </if>
            <if test="TIPO_DOCUMENTO_ID != null">  tipo_documento_id = #{TIPO_DOCUMENTO_ID}, </if>
            <if test="DOCUMENTO != null">  documento = #{DOCUMENTO}, </if>
            <if test="EMAIL != null">  email = #{EMAIL}, </if>
            <if test="USER_GESTIONA_ID != null">  user_gestiona_id = #{USER_GESTIONA_ID}, </if>

<!--            <if test="EMPRESA_ID != null"> empresa_id = #{EMPRESA_ID}, </if>-->
            <if test="USER_ID != null"> user_id = #{USER_ID}, </if>
            <if test="ACTIVO != null"> activo = #{ACTIVO}, </if>
            <if test="BORRADO != null"> borrado = #{BORRADO}, </if>

            <if test="UPDATED_AT != null"> updated_at = #{UPDATED_AT}, </if>
        </set>
        where id=#{ID} and empresa_id=#{EMPRESA_ID}
    </update>

</mapper>