<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcs.ventas.dao.mappers.DetalleMetodoPagoMapper">

    <resultMap id="principalResultMap" type="com.bcs.ventas.model.entities.DetalleMetodoPago">
        <result property="id" column="id" />
        <result property="tipoTarjetaId" column="tipo_tarjeta_id" />
        <result property="bancoId" column="banco_id" />
        <result property="numeroCuenta" column="numero_cuenta" />
        <result property="numeroCelular" column="numero_celular" />
        <result property="empresaId" column="empresa_id" />
        <result property="userId" column="user_id" />
        <result property="activo" column="activo" />
        <result property="borrado" column="borrado" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAd" column="updated_at" />

        <result property="metodoPago.id" column="metodos_pago_id" />
        <result property="metodoPago.nombre" column="metodos_pago_nombre" />
        <result property="metodoPago.tipoId" column="metodos_pago_tipo_id" />
        <result property="metodoPago.tipo" column="metodos_pago_tipo" />
    </resultMap>

    <select id="getAllEntities" resultMap="principalResultMap">
        select
        d.id,
        d.metodos_pago_id,
        d.tipo_tarjeta_id,
        d.banco_id,
        d.numero_cuenta,
        d.numero_celular,
        d.activo,
        d.borrado,
        d.user_id,
        d.empresa_id,
        d.created_at,
        d.updated_at,

        m.id AS metodos_pago_id,
        m.nombre AS metodos_pago_nombre,
        m.tipo_id AS metodos_pago_tipo_id,
        m.tipo AS metodos_pago_tipo,
        m.user_id AS metodos_pago_user_id,
        m.empresa_id AS metodos_pago_empresa_id,
        m.activo AS metodos_pago_activo,
        m.borrado AS metodos_pago_borrado

        from detalle_metodo_pagos d
        inner join metodos_pagos m on d.metodos_pago_id = m.id
    </select>

    <select id="getTotalElements" resultType="java.lang.Long">
        select COUNT(*) from detalle_metodo_pagos d
        inner join metodos_pagos m on d.metodos_pago_id = m.id
        <where>
            <if test="ID != null"> AND d.id = #{ID}</if>
            <if test="METODOS_PAGO_ID != null"> AND d.metodos_pago_id = #{METODOS_PAGO_ID}</if>
            <if test="TIPO_TARJETA_ID != null"> AND d.tipo_tarjeta_id = #{TIPO_TARJETA_ID}</if>
            <if test="BANCO_ID != null"> AND d.banco_id = #{BANCO_ID}</if>
            <if test="NUMERO_CUENTA != null"> AND d.numero_cuenta = #{NUMERO_CUENTA}</if>
            <if test="NUMERO_CELULAR != null"> AND d.numero_celular = #{NUMERO_CELULAR}</if>
            <if test="EMPRESA_ID != null"> AND d.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND d.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND d.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND d.borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND d.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND d.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND d.activo != #{NO_ACTIVO}</if>

            <if test="BUSCAR != null"> AND ( d.numero_cuenta like #{BUSCAR} OR d.numero_celular like #{BUSCAR} ) </if>
        </where>
        order by d.metodos_pago_id, d.id
    </select>

    <select id="listByParameterMap" resultMap="principalResultMap">
        select
        d.id,
        d.metodos_pago_id,
        d.tipo_tarjeta_id,
        d.banco_id,
        d.numero_cuenta,
        d.numero_celular,
        d.activo,
        d.borrado,
        d.user_id,
        d.empresa_id,
        d.created_at,
        d.updated_at,

        m.id AS metodos_pago_id,
        m.nombre AS metodos_pago_nombre,
        m.tipo_id AS metodos_pago_tipo_id,
        m.tipo AS metodos_pago_tipo,
        m.user_id AS metodos_pago_user_id,
        m.empresa_id AS metodos_pago_empresa_id,
        m.activo AS metodos_pago_activo,
        m.borrado AS metodos_pago_borrado

        from detalle_metodo_pagos d
        inner join metodos_pagos m on d.metodos_pago_id = m.id
        <where>
            <if test="ID != null"> AND d.id = #{ID}</if>
            <if test="METODOS_PAGO_ID != null"> AND d.metodos_pago_id = #{METODOS_PAGO_ID}</if>
            <if test="TIPO_TARJETA_ID != null"> AND d.tipo_tarjeta_id = #{TIPO_TARJETA_ID}</if>
            <if test="BANCO_ID != null"> AND d.banco_id = #{BANCO_ID}</if>
            <if test="NUMERO_CUENTA != null"> AND d.numero_cuenta = #{NUMERO_CUENTA}</if>
            <if test="NUMERO_CELULAR != null"> AND d.numero_celular = #{NUMERO_CELULAR}</if>
            <if test="EMPRESA_ID != null"> AND d.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND d.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND d.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND d.borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND d.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND d.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND d.activo != #{NO_ACTIVO}</if>

            <if test="BUSCAR != null"> AND ( d.numero_cuenta like #{BUSCAR} OR d.numero_celular like #{BUSCAR} ) </if>
        </where>
        order by d.metodos_pago_id, d.id
        <if test="LIMIT != null"> LIMIT #{LIMIT}</if>
        <if test="OFFSET != null"> OFFSET #{OFFSET}</if>
    </select>

    <update id="updateByPrimaryKeySelective">
        update detalle_metodo_pagos
        <set>
            <if test="METODOS_PAGO_ID != null"> metodos_pago_id = #{METODOS_PAGO_ID}, </if>
            <if test="TIPO_TARJETA_ID != null"> tipo_tarjeta_id = #{TIPO_TARJETA_ID}, </if>
            <if test="BANCO_ID != null"> banco_id = #{BANCO_ID}, </if>
            <if test="NUMERO_CUENTA != null"> numero_cuenta = #{NUMERO_CUENTA}, </if>
            <if test="NUMERO_CELULAR != null"> numero_celular = #{NUMERO_CELULAR}, </if>
<!--            <if test="EMPRESA_ID != null"> empresa_id = #{EMPRESA_ID}, </if>-->
            <if test="USER_ID != null"> user_id = #{USER_ID}, </if>
            <if test="ACTIVO != null"> activo = #{ACTIVO}, </if>
            <if test="BORRADO != null"> borrado = #{BORRADO}, </if>

            <if test="UPDATED_AT != null"> updated_at = #{UPDATED_AT}, </if>
        </set>
        where id=#{ID} and empresa_id=#{EMPRESA_ID}
    </update>

</mapper>