<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcs.ventas.dao.mappers.IngresoSalidaCajaMapper">

    <resultMap id="principalResultMap" type="com.bcs.ventas.model.entities.IngresoSalidaCaja">
        <result property="id" column="id" />
        <result property="monto" column="monto" />
        <result property="concepto" column="concepto" />
        <result property="comprobante" column="comprobante" />
        <result property="fecha" column="fecha" />

        <result property="tipo" column="tipo" />
        <result property="tipoComprobante" column="tipo_comprobante" />
        <result property="hora" column="hora" />

        <result property="empresaId" column="empresa_id" />
        <result property="activo" column="activo" />
        <result property="borrado" column="borrado" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAd" column="updated_at" />

        <result property="almacen.id" column="al_id" />
        <result property="almacen.nombre" column="al_nombre" />
        <result property="almacen.direccion" column="al_direccion" />
        <result property="almacen.empresaId" column="al_empresa_id" />
        <result property="almacen.userId" column="al_user_id" />
        <result property="almacen.activo" column="al_activo" />
        <result property="almacen.borrado" column="al_borrado" />
        <result property="almacen.distritoId" column="al_distrito_id" />
        <result property="almacen.codigo" column="al_codigo" />

        <result property="user.id" column="user_id" />
        <result property="user.name" column="user_name" />
        <result property="user.email" column="user_email" />
        <result property="user.tipoUser.id" column="user_tipo_user_id" />
        <result property="user.userId" column="user_user_id" />
        <result property="user.empresaId" column="user_empresa_id" />
        <result property="user.activo" column="user_activo" />
        <result property="user.borrado" column="user_borrado" />
        <result property="user.almacenId" column="user_almacen_id" />

        <result property="user.datos.id" column="du_id" />
        <result property="user.datos.nombres" column="du_nombres" />
        <result property="user.datos.apellidoPaterno" column="du_apellido_paterno" />
        <result property="user.datos.apellidoMaterno" column="du_apellido_materno" />
        <result property="user.datos.direccion" column="du_direccion" />
        <result property="user.datos.telefono" column="du_telefono" />
        <result property="user.datos.tipoDocumento.id" column="du_tipo_documento_id" />
        <result property="user.datos.documento" column="du_documento" />
        <result property="user.datos.email" column="du_email" />
        <result property="user.datos.userId" column="du_user_id" />
        <result property="user.datos.userGestionaId" column="du_user_gestiona_id" />
        <result property="user.datos.empresaId" column="du_empresa_id" />
        <result property="user.datos.activo" column="du_activo" />
        <result property="user.datos.borrado" column="du_borrado" />
    </resultMap>

    <select id="getAllEntities" resultMap="principalResultMap">
        select
        c.id,
        c.monto,
        c.concepto,
        c.comprobante,
        c.fecha,
        c.almacen_id,
        c.tipo,
        c.tipo_comprobante,
        c.hora,
        c.user_id,
        c.empresa_id,
        c.activo,
        c.borrado,
        c.created_at,
        c.updated_at,

        u.id as user_id,
        u.name as user_name,
        u.email as user_email,
        u.tipo_user_id as user_tipo_user_id,
        u.user_id as user_user_id,
        u.empresa_id as user_empresa_id,
        u.activo as user_activo,
        u.borrado as user_borrado,
        u.almacen_id as user_almacen_id,

        du.id as du_id,
        du.nombres as du_nombres,
        du.apellido_paterno as du_apellido_paterno,
        du.apellido_materno as du_apellido_materno,
        du.direccion as du_direccion,
        du.telefono as du_telefono,
        du.tipo_documento_id as du_tipo_documento_id,
        du.documento as du_documento,
        du.email as du_email,
        du.user_id as du_user_id,
        du.user_gestiona_id as du_user_gestiona_id,
        du.empresa_id as du_empresa_id,
        du.activo as du_activo,
        du.borrado as du_borrado,

        a.id as al_id,
        a.nombre as al_nombre,
        a.direccion as al_direccion,
        a.empresa_id as al_empresa_id,
        a.user_id as al_user_id,
        a.activo as al_activo,
        a.borrado as al_borrado,
        a.distrito_id as al_distrito_id,
        a.codigo as al_codigo
        from
        ingreso_salida_cajas c
        inner join almacens a on a.id = c.almacen_id
        inner join users u on u.id = c.user_id
        left join datos_users du on du.user_id = u.id

        <if test="ORDER_DESC != null"> order by c.id desc </if>
        <if test="ORDER_DESC == null"> order by c.fecha, c.hora, c.id </if>

    </select>

    <select id="listByParameterMap" resultMap="principalResultMap">
        select
        c.id,
        c.monto,
        c.concepto,
        c.comprobante,
        c.fecha,
        c.almacen_id,
        c.tipo,
        c.tipo_comprobante,
        c.hora,
        c.user_id,
        c.empresa_id,
        c.activo,
        c.borrado,
        c.created_at,
        c.updated_at,

        u.id as user_id,
        u.name as user_name,
        u.email as user_email,
        u.tipo_user_id as user_tipo_user_id,
        u.user_id as user_user_id,
        u.empresa_id as user_empresa_id,
        u.activo as user_activo,
        u.borrado as user_borrado,
        u.almacen_id as user_almacen_id,

        du.id as du_id,
        du.nombres as du_nombres,
        du.apellido_paterno as du_apellido_paterno,
        du.apellido_materno as du_apellido_materno,
        du.direccion as du_direccion,
        du.telefono as du_telefono,
        du.tipo_documento_id as du_tipo_documento_id,
        du.documento as du_documento,
        du.email as du_email,
        du.user_id as du_user_id,
        du.user_gestiona_id as du_user_gestiona_id,
        du.empresa_id as du_empresa_id,
        du.activo as du_activo,
        du.borrado as du_borrado,

        a.id as al_id,
        a.nombre as al_nombre,
        a.direccion as al_direccion,
        a.empresa_id as al_empresa_id,
        a.user_id as al_user_id,
        a.activo as al_activo,
        a.borrado as al_borrado,
        a.distrito_id as al_distrito_id,
        a.codigo as al_codigo
        from
        ingreso_salida_cajas c
        inner join almacens a on a.id = c.almacen_id
        inner join users u on u.id = c.user_id
        left join datos_users du on du.user_id = u.id
        <where>
            <if test="ID != null"> AND c.id = #{ID}</if>
            <if test="MONTO != null"> AND c.monto = #{MONTO}</if>
            <if test="CONCEPTO != null"> AND c.concepto = #{CONCEPTO}</if>
            <if test="COMPROBANTE != null"> AND c.comprobante = #{COMPROBANTE}</if>
            <if test="FECHA != null"> AND c.fecha = #{FECHA}</if>
            <if test="ALMACEN_ID != null"> AND c.almacen_id = #{ALMACEN_ID}</if>
            <if test="TIPO != null"> AND c.tipo = #{TIPO}</if>
            <if test="TIPO_COMPROBANTE != null"> AND c.tipo_comprobante = #{TIPO_COMPROBANTE}</if>
            <if test="HORA != null"> AND c.hora = #{HORA}</if>
            <if test="EMPRESA_ID != null"> AND c.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND c.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND c.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND c.borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND c.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND c.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND c.activo != #{NO_ACTIVO}</if>

            <if test="FECHA_INI != null"> AND c.fecha <![CDATA[ >= ]]>  #{FECHA_INI}</if>
            <if test="FECHA_FIN != null"> AND c.fecha <![CDATA[ <= ]]>  #{FECHA_FIN}</if>

            <if test="BUSCAR != null"> AND ( c.concepto like #{BUSCAR} or c.comprobante like #{BUSCAR} or  c.fecha like #{BUSCAR} or  c.tipo like #{BUSCAR}
                or  c.tipo_comprobante like #{BUSCAR} )</if>
        </where>
        <if test="ORDER_DESC != null"> order by c.id desc </if>
        <if test="ORDER_DESC == null"> order by c.fecha, c.hora, c.id </if>

        <if test="LIMIT != null"> LIMIT #{LIMIT}</if>
        <if test="OFFSET != null"> OFFSET #{OFFSET}</if>
    </select>

    <select id="getTotalElements" resultType="java.lang.Long">
        select COUNT(*)
        from
        ingreso_salida_cajas c
        inner join almacens a on a.id = c.almacen_id
        inner join users u on u.id = c.user_id
        left join datos_users du on du.user_id = u.id
        <where>
            <if test="ID != null"> AND c.id = #{ID}</if>
            <if test="MONTO != null"> AND c.monto = #{MONTO}</if>
            <if test="CONCEPTO != null"> AND c.concepto = #{CONCEPTO}</if>
            <if test="COMPROBANTE != null"> AND c.comprobante = #{COMPROBANTE}</if>
            <if test="FECHA != null"> AND c.fecha = #{FECHA}</if>
            <if test="ALMACEN_ID != null"> AND c.almacen_id = #{ALMACEN_ID}</if>
            <if test="TIPO != null"> AND c.tipo = #{TIPO}</if>
            <if test="TIPO_COMPROBANTE != null"> AND c.tipo_comprobante = #{TIPO_COMPROBANTE}</if>
            <if test="HORA != null"> AND c.hora = #{HORA}</if>
            <if test="EMPRESA_ID != null"> AND c.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND c.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND c.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND c.borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND c.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND c.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND c.activo != #{NO_ACTIVO}</if>

            <if test="FECHA_INI != null"> AND c.fecha <![CDATA[ >= ]]>  #{FECHA_INI}</if>
            <if test="FECHA_FIN != null"> AND c.fecha <![CDATA[ <= ]]>  #{FECHA_FIN}</if>

            <if test="BUSCAR != null"> AND ( c.concepto like #{BUSCAR} or c.comprobante like #{BUSCAR} or  c.fecha like #{BUSCAR} or  c.tipo like #{BUSCAR}
                or  c.tipo_comprobante like #{BUSCAR} )</if>
        </where>

        <if test="ORDER_DESC != null"> order by c.id desc </if>
        <if test="ORDER_DESC == null"> order by c.fecha, c.hora, c.id </if>
    </select>

    <select id="getTotalIngresosOtros" resultType="java.math.BigDecimal">
        select TRUNCATE(sum(c.monto), 2)
        from
        ingreso_salida_cajas c
        inner join almacens a on a.id = c.almacen_id
        inner join users u on u.id = c.user_id
        left join datos_users du on du.user_id = u.id
        <where>
            <if test="ID != null"> AND c.id = #{ID}</if>
            <if test="MONTO != null"> AND c.monto = #{MONTO}</if>
            <if test="CONCEPTO != null"> AND c.concepto = #{CONCEPTO}</if>
            <if test="COMPROBANTE != null"> AND c.comprobante = #{COMPROBANTE}</if>
            <if test="FECHA != null"> AND c.fecha = #{FECHA}</if>
            <if test="ALMACEN_ID != null"> AND c.almacen_id = #{ALMACEN_ID}</if>
            <if test="TIPO != null"> AND c.tipo = #{TIPO}</if>
            <if test="TIPO_COMPROBANTE != null"> AND c.tipo_comprobante = #{TIPO_COMPROBANTE}</if>
            <if test="HORA != null"> AND c.hora = #{HORA}</if>
            <if test="EMPRESA_ID != null"> AND c.empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND c.user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND c.activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND c.borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND c.id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND c.borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND c.activo != #{NO_ACTIVO}</if>

            <if test="FECHA_INI != null"> AND c.fecha <![CDATA[ >= ]]>  #{FECHA_INI}</if>
            <if test="FECHA_FIN != null"> AND c.fecha <![CDATA[ <= ]]>  #{FECHA_FIN}</if>

            <if test="BUSCAR != null"> AND ( c.concepto like #{BUSCAR} or c.comprobante like #{BUSCAR} or  c.fecha like #{BUSCAR} or  c.tipo like #{BUSCAR}
                or  c.tipo_comprobante like #{BUSCAR} )</if>
        </where>

        <if test="ORDER_DESC != null"> order by c.id desc </if>
        <if test="ORDER_DESC == null"> order by c.fecha, c.hora, c.id </if>
    </select>

    <update id="updateByPrimaryKeySelective">
        update ingreso_salida_cajas
        <set>
            <if test="MONTO != null"> monto = #{MONTO}, </if>
            <if test="CONCEPTO != null"> concepto = #{CONCEPTO}, </if>
            <if test="COMPROBANTE != null"> comprobante = #{COMPROBANTE}, </if>
            <if test="FECHA != null"> fecha = #{FECHA}, </if>
            <if test="ALMACEN_ID != null"> almacen_id = #{ALMACEN_ID}, </if>
            <if test="TIPO != null"> tipo = #{TIPO}, </if>
            <if test="TIPO_COMPROBANTE != null"> tipo_comprobante = #{TIPO_COMPROBANTE}, </if>
            <if test="HORA != null"> hora = #{HORA}, </if>
<!--            <if test="EMPRESA_ID != null"> empresa_id = #{EMPRESA_ID}, </if>-->
            <if test="USER_ID != null"> user_id = #{USER_ID}, </if>
            <if test="ACTIVO != null"> activo = #{ACTIVO}, </if>
            <if test="BORRADO != null"> borrado = #{BORRADO}, </if>

            <if test="UPDATED_AT != null"> updated_at = #{UPDATED_AT}, </if>
        </set>
        where id=#{ID} and empresa_id=#{EMPRESA_ID}
    </update>

</mapper>