<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcs.ventas.dao.mappers.LeyendaMapper">

    <resultMap id="principalResultMap" type="com.bcs.ventas.model.entities.Leyenda">
        <result property="id" column="id" />
        <result property="cabeceraId" column="cabecera_id" />
        <result property="leyendaCodigo" column="leyenda_codigo" />
        <result property="leyendaTexto" column="leyenda_texto" />
        <result property="empresaId" column="empresa_id" />
        <result property="userId" column="user_id" />
        <result property="activo" column="activo" />
        <result property="borrado" column="borrado" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAd" column="updated_at" />
    </resultMap>

    <select id="getAllEntities" resultMap="principalResultMap">
        select * from leyendas
    </select>

    <select id="listByParameterMap" resultMap="principalResultMap">
        select * from leyendas
        <where>
            <if test="ID != null"> AND id = #{ID}</if>
            <if test="CABECERA_ID != null"> AND cabecera_id = #{CABECERA_ID}</if>
            <if test="LEYENDA_CODIGO != null"> AND leyenda_codigo = #{LEYENDA_CODIGO}</if>
            <if test="LEYENDA_TEXTO != null"> AND leyenda_texto = #{LEYENDA_TEXTO}</if>
            <if test="EMPRESA_ID != null"> AND empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND activo != #{NO_ACTIVO}</if>
        </where>
    </select>

    <update id="updateByPrimaryKeySelective">
        update leyendas
        <set>
            <if test="CABECERA_ID != null"> cabecera_id = #{CABECERA_ID}, </if>
            <if test="LEYENDA_CODIGO != null"> leyenda_codigo = #{LEYENDA_CODIGO}, </if>
            <if test="LEYENDA_TEXTO != null"> leyenda_texto = #{LEYENDA_TEXTO}, </if>
            <if test="EMPRESA_ID != null"> empresa_id = #{EMPRESA_ID}, </if>
            <if test="USER_ID != null"> user_id = #{USER_ID}, </if>
            <if test="ACTIVO != null"> activo = #{ACTIVO}, </if>
            <if test="BORRADO != null"> borrado = #{BORRADO}, </if>

            <if test="UPDATED_AT != null"> updated_at = #{UPDATED_AT}, </if>
        </set>
        where id=#{ID}
    </update>

</mapper>