<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcs.ventas.dao.mappers.TipoTarjetaMapper">

    <resultMap id="principalResultMap" type="com.bcs.ventas.model.entities.TipoTarjeta">
        <result property="id" column="id" />
        <result property="nombre" column="nombre" />
        <result property="sigla" column="sigla" />
        <result property="empresaId" column="empresa_id" />
        <result property="userId" column="user_id" />
        <result property="activo" column="activo" />
        <result property="borrado" column="borrado" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAd" column="updated_at" />
    </resultMap>

    <select id="getAllEntities" resultMap="principalResultMap">
        select * from tipo_tarjetas
    </select>

    <select id="getTotalElements" resultType="java.lang.Long">
        select COUNT(*) from tipo_tarjetas
        <where>
            <if test="ID != null"> AND id = #{ID}</if>
            <if test="NOMBRE != null"> AND nombre = #{NOMBRE}</if>
            <if test="SIGLA != null"> AND sigla = #{SIGLA}</if>
            <if test="EMPRESA_ID != null"> AND empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND activo != #{NO_ACTIVO}</if>

            <if test="BUSCAR != null"> AND nombre like #{BUSCAR}</if>
        </where>
        order by id
    </select>

    <select id="listByParameterMap" resultMap="principalResultMap">
        select * from tipo_tarjetas
        <where>
            <if test="ID != null"> AND id = #{ID}</if>
            <if test="NOMBRE != null"> AND nombre = #{NOMBRE}</if>
            <if test="SIGLA != null"> AND sigla = #{SIGLA}</if>
            <if test="EMPRESA_ID != null"> AND empresa_id = #{EMPRESA_ID}</if>
            <if test="USER_ID != null"> AND user_id = #{USER_ID}</if>
            <if test="ACTIVO != null"> AND activo = #{ACTIVO}</if>
            <if test="BORRADO != null"> AND borrado = #{BORRADO}</if>

            <if test="NO_ID != null"> AND id != #{NO_ID}</if>
            <if test="NO_BORRADO != null"> AND borrado != #{NO_BORRADO}</if>
            <if test="NO_ACTIVO != null"> AND activo != #{NO_ACTIVO}</if>

            <if test="BUSCAR != null"> AND nombre like #{BUSCAR}</if>
        </where>
        order by id
        <if test="LIMIT != null"> LIMIT #{LIMIT}</if>
        <if test="OFFSET != null"> OFFSET #{OFFSET}</if>
    </select>

    <update id="updateByPrimaryKeySelective">
        update tipo_tarjetas
        <set>
            <if test="NOMBRE != null"> nombre = #{NOMBRE}, </if>
            <if test="SIGLA != null"> sigla = #{SIGLA}, </if>
<!--            <if test="EMPRESA_ID != null"> empresa_id = #{EMPRESA_ID}, </if>-->
            <if test="USER_ID != null"> user_id = #{USER_ID}, </if>
            <if test="ACTIVO != null"> activo = #{ACTIVO}, </if>
            <if test="BORRADO != null"> borrado = #{BORRADO}, </if>

            <if test="UPDATED_AT != null"> updated_at = #{UPDATED_AT}, </if>
        </set>
        where id=#{ID} and empresa_id=#{EMPRESA_ID}
    </update>

</mapper>